h1{
  color: #ffffff;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 630px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
}
.left{
  /* background-color: #ef6c35; */
  background-image: url('https://cdn.dribbble.com/users/3409191/screenshots/6302425/image.png');
  background-size: center;
  height: 630px;
  border-radius: 10px 0 0 10px;
  margin: 0;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 0 0 10px;
  height: 630px;
}
.top-form{
  margin-top: 20px;
}
