h1{
  color: #000000;
}
.jumbotron{
  margin-top: 5px;
  height: 560px;
  /* padding: 0; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ziDhOLv/flag-of-ghana-beautiful-3d-animation-revealing-ghana-flag-with-alpha-channel_4jzgc4qkt__F0000.png');
}
/* .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 660px;
  width: 100%;
} */
