body{
  background-color: #dadada;
}
h1{
  color: #ffffff;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 630px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
}
.left{
  background-image: url('https://cdn.dribbble.com/users/3409191/screenshots/6302425/image.png');
  background-size: center;
  height: 630px;
  border-radius: 10px 0 0 10px;
  margin: 0;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 0 0 5px;
  height: 630px;
}
.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.panel{
  margin-left: 80px;
}
.form-control{
  width: 150%;
}
.top-form{
  margin-top: 20px;
}
.labels{
  font-family: monospace;
  font-weight: lighter;
  font-size: 25px;
  color: #6150c1;
}
